<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="04c626b2-bcb0-4afa-85f8-4bb13bd0a06f" Publisher="CN=David" Version="1.2.4.0" />
  <mp:PhoneIdentity PhoneProductId="04c626b2-bcb0-4afa-85f8-4bb13bd0a06f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>AuThink pro</DisplayName>
    <PublisherDisplayName>Ivan Pavicic</PublisherDisplayName>
    <Logo>Assets\Logo\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AuthinkDemo.App">
      <uap:VisualElements DisplayName="AuthinkLite" Square150x150Logo="Assets\Logo\Logo.png" Square44x44Logo="Assets\Logo\Logo44.png" Description="AuThink is a system designed with one main goal in mind: to help autistic children! But in order to do so, we were aware that parents and teachers who work with them also need help. That is why AuThink was designed bearing them in mind as well! We hope to increase the independence of autistic children in their environment, society in general, and day-to-day life through various specialized and individualized tasks, authored by their teachers and parents. This is why a high level of individualization and generalization is crucial in order to enable progress of children both in specialized centers and at home. And last but not least, AuThink aims to achieve these goals in an encouraging and educative environment!" BackgroundColor="#FFFFFF">
        <uap:DefaultTile>
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen BackgroundColor="white" Image="Assets\Logo\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>